.carcard {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  padding: 1rem;
  border: 3px solid currentColor;
  border-radius: 1rem;
  background-color: rgba(0, 2, 23, 0.867);
  overflow-x: scroll;
}

.carcard__data {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.carcard__price {
  text-align: right;
}

.carcard video {
  border-radius: 10px;
  width: 100%;
}

.carcard img {
  border-radius: 10px;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .carcard h1 {
    font-size: 2.3rem;
  }

  .carcard h2,
  h3 {
    font-size: 1.5rem;
  }

  #root {
    margin: 1rem;
  }
}
